
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Login</h1>

<form method="post">
    <input class="form-control" type="text" name="tokenInput" placeholder="Enter your token here" />
    <br />
    <button class="btn btn-success">Search Token</button>
</form>

