
@{ ViewData["Title"] = "Error Page";
    Layout = "~/Views/Shared/_UserLayout.cshtml"; }

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div class="form-group row">
    <h1>@ViewBag.ErrorMsg</h1>
</div>


<br />
<br />
<br />
<br />
<div class="form-group row">
    <a asp-controller="Home" asp-action="Index">
        <input type="button" class="btn btn-primary" value="Go To HomePage" />
    </a>
</div>